body {
  font-family: Arial, Helvetica, sans-serif;;
  font-size: large;
  min-width: 600px;
}
button {
  /* position: absolute; */
  min-width: 80px;
  max-width: 100px;
  min-height: 80px;
  max-height: 100px;
  background-color: rgba(94, 178, 235, 0.8);
  border: 3px solid rgb(189, 189, 189);
  border-radius: 10px;
  margin: 7px;
  cursor: pointer;
}
button:hover {
  opacity: 0.8;
  border-color: rgb(90, 90, 90);
}
button img {
  padding-top: 3px;
  /* max-width: 55%;
  max-height: 60%; */
  object-fit: contain;
  object-position: center;
}
img {
  padding-top: 3px;
  width: 70%;
  /* height: 30px; */
  object-fit: contain;
  object-position: center;
}
.red {
  background-color: rgb(218, 116, 116);
}
.blue {
  background-color: rgb(119, 119, 226);
}
.active {
  border-color: black;
}