main {
  display: grid;
  grid-template-columns: 100px auto;
}
.level {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 95px;
  margin: 15px;
  font-size: 30px;
  color: rgb(168, 130, 238);
  padding: 6%;
}
.levels, .level {
  border: 3px solid rgb(189, 189, 189);
  border-radius: 10px;
}
.levels {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  /* gap: 15px; */
  margin: 10px;
  padding: 6%;
  align-items: start;
  justify-content: space-between;
  /* position: relative; */
  max-width: 1000px;
  min-height: 500px;
}
.level:hover {
  background-color: rgba(211, 211, 211, 0.671);
}
.levels-next-btn {
  bottom: 15px;
  right: 10px;
  position: absolute;
}
.create-btn {
  position: absolute;
  top: 15px;
  left: 15px;
}
.column {
  justify-items: center;
}